<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
    	<h1>Web & Image</h1>
        <h2>Welcome, please log in</h2>
        <form class="login" action='{{url_for("login")}}' method="post">
        	<input id="userName" type="text" name="userName" placeholder="User Name"><br>
        	<input id="pwd" type="password" name="password" placeholder="Password"><br><br>
        	<input type='submit' value='LOG IN' />
            
        </form>
        <div class='login_msg'>{{login_msg if login_msg != None}}</div>
        
        <h2>New user? Sign up here!</h2>
        <form class="signup" action='{{url_for("signup")}}' method="post">
        	<input id="userName" type="text" name="userName" placeholder="User Name"><br>
        	<input id="pwd" type="password" name="password" placeholder="Password"><br><br>
        	<input type='submit' value='SIGN UP' />
            
        </form>
        <div class='signup_msg'>{{signup_msg if signup_msg != None}}</div>

    </body>
</html>