{% extends "base.html" %}
{% block content %}

        <h1>{{title}}</h1>

        <form action="{{url_for('ec2_create')}}" method="post">
            <input type="submit" value="New">
        </form>
        
        <table />
        <thead>
           <th>ID</th>
           <th>Image AMI ID</th>
           <th>Public IP Address</th>
           <th>Status</th>
        </thead> 
        {% for instance in instances %}
            <tr>
                <td>{{ instance.tags[0]['Value'] }}</td>
                <td>{{ instance.image_id }}</td>
                <td>{{ instance.public_ip_address }}</td>
                <td>{{ instance.state['Name'] }}</td>
                {% if not (instance.id == 'i-026f5969050b98d16' or instance.id == 'i-036c5c38ccf4ad90b' or instance.id == 'i-0dd8069a3598ec8a5') %}
                    <td>
                        <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                            <input type='submit' value='Destroy' />
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>

        <h2>CPU</h2>
        {% for cpu_stats in cpu_stats_list %}
            <div id="{{loop.index0}}" style="width:300px;height:150px"></div>

            <script>

                var options = {
                    series: {
                        lines: { show: true },
                        points: { show: true }
                    }
                };

                $.plot($("#{{loop.index0}}"), [ {{ cpu_stats }} ] , options);

            </script>
        {% endfor %}


        <h2>Auto-Scaling Policy</h2>

        
        <h3>CPU Threshold for Growing</h3>
        <form action="{{url_for('ec2_grow_threshold')}}" method="post">
            <select name="grow">
                <option value="30" {% if opt[2]==30 %} selected="selected"{% endif %}>30%</option>
                <option value="40" {% if opt[2]==40 %} selected="selected"{% endif %}>40%</option>
                <option value="50" {% if opt[2]==50 %} selected="selected"{% endif %}>50%</option>
                <option value="60" {% if opt[2]==60 %} selected="selected"{% endif %}>60%</option>
                <option value="70" {% if opt[2]==70 %} selected="selected"{% endif %}>70%</option>
            </select>
            <input type="submit" value="Set Grow Threshold">
        </form>

        <h3>CPU Threshold for Shrinking</h3>
        <form action="{{url_for('ec2_shrink_threshold')}}" method="post">
            <select name="shrink">
                <option value="20" {% if opt[3]==20 %} selected="selected"{% endif %}>20%</option>
                <option value="30" {% if opt[3]==30 %} selected="selected"{% endif %}>30%</option>
                <option value="40" {% if opt[3]==40 %} selected="selected"{% endif %}>40%</option>
            </select>
            <input type="submit" value="Set Shrink Threshold">
        </form>

        <h3>Worker Pool Grow Ratio</h3>
        <form action="{{url_for('ec2_grow_ratio')}}" method="post">
            <select name="Gratio">
                <option value="2" {% if opt[0]==2 %} selected="selected"{% endif %}>2</option>
                <option value="3" {% if opt[0]==3 %} selected="selected"{% endif %}>3</option>
                <option value="4" {% if opt[0]==4 %} selected="selected"{% endif %}>4</option>
            </select>
            <input type="submit" name="grow" value="Set Grow Ratio">
        </form>

        <h3>Worker Pool Shrink Ratio</h3>
        <form action="{{url_for('ec2_shrink_ratio')}}" method="post">
            <select name="Sratio">
                <option value="2" {% if opt[1]==2 %} selected="selected"{% endif %}>2</option>
                <option value="3" {% if opt[1]==3 %} selected="selected"{% endif %}>3</option>
                <option value="4" {% if opt[1]==4 %} selected="selected"{% endif %}>4</option>
            </select>
            <input type="submit" name="shrink" value="Set Shrink Ratio">
        </form>
    
{% endblock %}
